.form-login{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 10px;
    height: 275px;
    border: 1px solid;
}

.form-login input{
    margin-top:20px
}

.form-login .inputs{
    width: 437px;
}


.form-login button{
    margin-left: 30px;
    width: 165px;
    margin-top:20px;
}
.form-login p {
    width: 100%; 
    border-bottom: 1px solid; 
    padding-left:10px;
    
}

.form-cadastro{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 10px;
    height: 628px;
    border: 1px solid;
}

.form-cadastro p {
    width: 100%; 
    border-bottom: 1px solid; 
    padding-left:10px;
    
}

.check-receber-email{
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    margin-top: 16px;
    margin-right: 24px;
}
