.image {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -99999px;
  background-color: blueviolet;
}
.image-univese {
  width: 56px;
  height: 48px;
  display: inline-block;
  text-indent: -99999px;
  background-color: blueviolet;
  width: 56px;
  height: 48px;
}
.person-image {
  background-image: url(pessoa.png);
}
.universe-image {
  background-image: url(universe.jpg);
}

.search {
}

.container-search {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-search .form-group {
  display: flex;
  width: 100%;
  justify-content: center;
  /* float: none; */
  /* margin-left: auto; */
  padding: 20px;
  /* margin-right: auto; */
  height: 64px;
  width: 50%;
}
.container-search .form-group input{
    margin-left: 20px;
    height: 50px;
    border-radius: 25px;
}

.form-search {
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  margin: 10px;
  font-size: 23px;
}

.menu-ul li a {
    font-family: fantasy;
    color: #0ec8b5;
    font-size: 29px;
}
.imagem-logo {
    width: 249px;
    position: relative;
    position: absolute;
    top: 0px;
    opacity: 0.9;

}

.imagem-logo img {
  width: 103px;
  position: absolute;
  bottom: -87px;
}

.person-image{
    
    border-radius: 60px;
    width: 4%;
    margin-top: 26px;
    top: -10px;
    position: relative;
}

.person-image img {
    border-radius: 62px;
}
