<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/universe/reset.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/universe/templates/leitura/leitura.css">

  <title>Index</title>
</head>

<body>
  <!-- conteudo header -->
  <div style="height: 1821.33;">
    <header id="header"></header>
  </div>

  <main>
    <div style="display:flex; justify-content: center; width: 100%">
      <div class="row font-leitura" style="width: 70%">
        <div class="col-6 container" style="border: 1px solid blue;width: 100%; min-height: 700px; padding-top:10px">
          <p>
            Harry Potter (1980) é um personagem fictício criado pela escritora britânica J.K. Rowling. Formada por sete
            livros, a série fascinou milhares de leitores por todo o mundo, vendeu milhares de livros e foi adaptada
            para o cinema com enorme sucesso de bilheteria. Cada livro narra um ano da vida do pequeno bruxo, dos 11 aos
            17 anos, quando frequentou a escola de bruxos "Hogwarts".
          </p>
          <p>
            Harry James Potter é filho único de Tiago Potter e Lílian Potter. Foi o sobrevivente da maldição do bruxo
            "Lord Voldemort", que tentou matá-lo ainda bebê. Seus pais foram mortos pelo bruxo, mas Harry sobreviveu,
            adquirindo uma cicatriz no rosto.
          </p>
          <P>
            Harry Potter foi morar com os "Dursley", família que ignorava os fenômenos sobrenaturais. Harry descobre que
            é
            um mago através do guarda florestal de "Hogwarts", que o levou para morar na casa "Grifinória" - uma das
            quatro casas na época da inauguração da escola dos bruxos.
          </P>
        </div>
        <div class="col-6" style="border: 1px solid blue;width: 100%; min-height: 700px; padding-top:10px">
          <p>
            Harry Potter (1980) é um personagem fictício criado pela escritora britânica J.K. Rowling. Formada por sete
            livros, a série fascinou milhares de leitores por todo o mundo, vendeu milhares de livros e foi adaptada
            para o cinema com enorme sucesso de bilheteria. Cada livro narra um ano da vida do pequeno bruxo, dos 11 aos
            17 anos, quando frequentou a escola de bruxos "Hogwarts".
          </p>
          <p>
            Harry James Potter é filho único de Tiago Potter e Lílian Potter. Foi o sobrevivente da maldição do bruxo
            "Lord Voldemort", que tentou matá-lo ainda bebê. Seus pais foram mortos pelo bruxo, mas Harry sobreviveu,
            adquirindo uma cicatriz no rosto.
          </p>
          <P>
            Harry Potter foi morar com os "Dursley", família que ignorava os fenômenos sobrenaturais. Harry descobre que
            é
            um mago através do guarda florestal de "Hogwarts", que o levou para morar na casa "Grifinória" - uma das
            quatro casas na época da inauguração da escola dos bruxos.
          </P>
        </div>
        
      </div>
    </div>
    <div class="progress" style="margin-top:10px">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
  </main>




  <!-- conteudo roda-pé -->
  <div id="roda-pe"></div>

  <!-- scripts bootstrap -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    $("#header").load("/universe/templates/shared/menu/menu.html");
    $("#roda-pe").load("/universe/templates/shared/roda-pe/roda-pe.html");

  </script>

</body>

</html>