<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/universe/reset.css">

    <link rel="stylesheet" href="/universe/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="/universe/templates/carrossel/carrossel.css">
    <title>Carrossel</title>
</head>

<body>
    <!-- conteudo header
    <header id="header"></header> -->

    <div class="conteudo">
        <ul class="nav">
                <li class="foto ">
                        <img class="card img-fluid" src="/universe/image/livro-azul.jpg" alt="livro">
                        <div class="info-compra">
                            <p class="title">Livro Azul</p>
                            <p class="valor">Valor: </p>
                            <p class="valor">R$ 22,32 </p>
                            <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                            <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                            <button type="button" class="btn btn-primary">Adicionar ao
                                carrinho</button>
                        </div>
                    </li>
                    <li class="foto ">
                            <img class="card img-fluid" src="/universe/image/pedra-filosofal.jpg" alt="livro">
                            <div class="info-compra">
                                <p class="title">Harry Potter</p>
                                <p class="valor">Valor: </p>
                                <p class="valor">R$ 22,32 </p>
                                <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                                <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                                <button type="button" class="btn btn-primary">Adicionar ao
                                    carrinho</button>
                            </div>
                        </li>
                <li class="foto ">
                        <img class="card img-fluid" src="/universe/image/livro-azul.jpg" alt="livro">
                        <div class="info-compra">
                            <p class="title">Livro Azul</p>
                            <p class="valor">Valor: </p>
                            <p class="valor">R$ 22,32 </p>
                            <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                            <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                            <button type="button" class="btn btn-primary">Adicionar ao
                                carrinho</button>
                        </div>
                    </li>
                    <li class="foto ">
                            <img class="card img-fluid" src="/universe/image/pedra-filosofal.jpg" alt="livro">
                            <div class="info-compra">
                                <p class="title">Harry Potter</p>
                                <p class="valor">Valor: </p>
                                <p class="valor">R$ 22,32 </p>
                                <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                                <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                                <button type="button" class="btn btn-primary">Adicionar ao
                                    carrinho</button>
                            </div>
                        </li>
                <li class="foto ">
                        <img class="card img-fluid" src="/universe/image/livro-azul.jpg" alt="livro">
                        <div class="info-compra">
                            <p class="title">Livro Azul</p>
                            <p class="valor">Valor: </p>
                            <p class="valor">R$ 22,32 </p>
                            <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                            <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                            <button type="button" class="btn btn-primary">Adicionar ao
                                carrinho</button>
                        </div>
                    </li>
                    <li class="foto ">
                            <img class="card img-fluid" src="/universe/image/pedra-filosofal.jpg" alt="livro">
                            <div class="info-compra">
                                <p class="title">Harry Potter</p>
                                <p class="valor">Valor: </p>
                                <p class="valor">R$ 22,32 </p>
                                <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                                <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                                <button type="button" class="btn btn-primary">Adicionar ao
                                    carrinho</button>
                            </div>
                        </li>
                <li class="foto ">
                        <img class="card img-fluid" src="/universe/image/livro-azul.jpg" alt="livro">
                        <div class="info-compra">
                            <p class="title">Livro Azul</p>
                            <p class="valor">Valor: </p>
                            <p class="valor">R$ 22,32 </p>
                            <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                            <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                            <button type="button" class="btn btn-primary">Adicionar ao
                                carrinho</button>
                        </div>
                    </li>
                    <li class="foto ">
                            <img class="card img-fluid" src="/universe/image/pedra-filosofal.jpg" alt="livro">
                            <div class="info-compra">
                                <p class="title">Harry Potter</p>
                                <p class="valor">Valor: </p>
                                <p class="valor">R$ 22,32 </p>
                                <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                                <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                                <button type="button" class="btn btn-primary">Adicionar ao
                                    carrinho</button>
                            </div>
                        </li>
                <li class="foto ">
                        <img class="card img-fluid" src="/universe/image/livro-azul.jpg" alt="livro">
                        <div class="info-compra">
                            <p class="title">Livro Azul</p>
                            <p class="valor">Valor: </p>
                            <p class="valor">R$ 22,32 </p>
                            <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                            <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                            <button type="button" class="btn btn-primary">Adicionar ao
                                carrinho</button>
                        </div>
                    </li>
                    <li class="foto ">
                            <img class="card img-fluid" src="/universe/image/pedra-filosofal.jpg" alt="livro">
                            <div class="info-compra">
                                <p class="title">Harry Potter</p>
                                <p class="valor">Valor: </p>
                                <p class="valor">R$ 22,32 </p>
                                <p class="disponibilidade"><i class="fas fa-check-circle"></i>Produto Disponivél</p>
                                <p class="entrega"><i class="fas fa-truck"></i>Entrega rápida</p>
                                <button type="button" class="btn btn-primary">Adicionar ao
                                    carrinho</button>
                            </div>
                        </li>

        </ul>

    </div>

    </div>
    <button class="direcao esquerda">
        ◀ <span class="offscreen">Previous</span>
    </button>
    <button class="direcao direita">
        <span class="offscreen">Next</span> ▶
    </button>
    <!-- conteudo roda-pé -->
    <!-- <div id="roda-pe"></div> -->

    <!-- scripts bootstrap -->
    <!-- scripts bootstrap -->
    <script type="text/javascript" src="/universe/templates/carrossel/carrossel.js"> </script>
    <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/jquery-3.4.1.min.js"> </script>
    <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/popper.min.js"> </script>
    <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/bootstrap.js"> </script>
    <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script>
        $("#header").load("/universe/templates/shared/menu/menu.html");
        $("#roda-pe").load("/universe/templates/shared/roda-pe/roda-pe.html");

    </script>

</body>

</html>