<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/universe/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="/universe/templates/shared/roda-pe/roda-pe.css">


</head>

<body>

    <!-- Footer -->

    <div class="roda">
        <nav>
            <p>Redes Sociais:</p>
            <ul class="icones-redes-sociais">
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </nav>
        <nav>
            <p>Formas de pagamento:</p>
            <ul class="icones-redes-sociais">
                <li><a href="#"><i class="fab fa-cc-paypal"></i></a></li>
                <li><a href="#"><i class="fab fa-cc-mastercard"></i></a></li>
                <li><a href="#"><i class="fas fa-file-invoice-dollar"></i></a></li>
            </ul>

        </nav>
        <div style="display: inline-flex">
            <a href="#">
                <p>Fale Conosco</p>
            </a>
            <a href="#" style="margin-left: 70px">
                <p>Quem Somos?</p>
            </a>
        </div>
    </div>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center ">
            © 2019 Copyright:
            <a href="#"> Universe.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>

</html>