<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/universe/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel ="stylesheet" href="/universe2/templates/quemSomos/quemSomos.css">
  <title>Quem Somos</title>
</head>

<body>
  <!-- conteudo header -->
  <header id="header"></header>


  
  <main>

    
  <div class="titulo h2 ">

    <h2>Quem somos</h2>
  </div>
  
    <div class="card card-conteudo card-principal" style="  background-color: #ebf0f4!important" > 

      <div class="card-body">
       <p>Somos uma livraria online, e vendemos todo o tipo de livro para qualquer gosto, venha aproveitar</p> 
       <p>essa é a sua chance, temos diversos livros escolares descrição descrição descrição descrição</p>
       <p>essa é a sua chance, temos diversos livros escolares descrição descrição descrição descrição</p>
      </div>
    </div>

    <div class="atendimento">
    <p>Horário de atendimento </p>
    <p>Segunda a sexta 8h as 12h e das 13h as 18h</p>
    <p>Sábado das 9h as 13h</p>
  </div>
  </main>




  <!-- conteudo roda-pé -->
  <div id="roda-pe"></div>

  <!-- scripts bootstrap -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    $("#header").load("/universe/templates/shared/menu/menu.html");
    $("#roda-pe").load("/universe/templates/shared/roda-pe/roda-pe.html");

  </script>

</body>

</html>