<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/universe/reset.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/universe/templates/chat/chat.css">

  <title>Index</title>
</head>

<body>
  <!-- conteudo header -->
  <header id="header"></header>

  <main>
      <div class="card">
          <div class="card-header detalhes-livro">
              Destaque
          </div>

          <div>
            <p>s</p>
          </div>

          <div>mano</div>

          <hr>
          <hr>
  </main>



  <!-- conteudo roda-pé -->
  <div id="roda-pe"></div>

  <!-- scripts bootstrap -->
  <!-- scripts bootstrap -->
  <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/bootstrap.js"> </script>
  <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/jquery-3.4.1.min.js"> </script>
  <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/popper.min.js"> </script>
  <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script>
    $("#header").load("/universe/templates/shared/menu/menu.html");
    $("#roda-pe").load("/universe/templates/shared/roda-pe/roda-pe.html");

  </script>

</body>

</html>