<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/universe/reset.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/universe/templates/chat/chat.css">

    <title>Index</title>
</head>

<body>
    <!-- conteudo header -->
    <header id="header"></header>

    <main>
        <div #principal class="principal">
            <div style="flex-direction: column">
                <div #contatos class="contatos ">
                    <div #pesquisar class="barra-pesquisa">
                        <div class="form-group">
                            <input type="pesquisar" class="form-control" id="pesquisar" aria-describedby="pesquisar"
                                placeholder="Pesquisar...">
                        </div>
                    </div>
                    <div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                        <div class="contato">
                            <div>
                                <img class="img-fluid" src="/universe/image/usuario-contatos.png"
                                    alt="Imagem do contato">
                            </div>
                            <p class="text-left">Nome 1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex-direction: column;width: 100%;/* margin-right: 10px; */border-left: 1px solid;">
                <div #mensagens class="mensagens">
                    <div class="container">
                        <img src="/universe/image/usuario-contatos.png" alt="Avatar" style="width:100%;">
                        <p>Hello. How are you today?</p>
                        <span class="time-left">11:00</span>
                    </div>

                    <div class="container darker">
                        <img src="/universe/image/usuario-contatos.png" alt="Avatar" class="right" style="width:100%;">
                        <p style="float: right">Hey! I'm fine. Thanks for asking!</p>
                        <span class=" time-right">11:01</span>
                    </div>

                    <div class="container">
                        <img src="/universe/image/usuario-contatos.png" alt="Avatar" style="width:100%;">
                        <p>Sweet! So, what do you wanna do today?</p>
                        <span class="time-left">11:02</span>
                    </div>

                    <div class="container darker">
                        <img src="/universe/image/usuario-contatos.png" alt="Avatar" style="width:100%;">
                        <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
                        <span class="time-left">11:05</span>
                    </div>
                </div>
                <div class="text-msg">
                    <textarea class="form-control" placeholder="Mensagem..."></textarea>
                </div>
            </div>
    </main>




    <!-- conteudo roda-pé -->
    <div id="roda-pe"></div>

    <!-- scripts bootstrap -->
    <!-- scripts bootstrap -->
    <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/bootstrap.js"> </script>
    <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/jquery-3.4.1.min.js"> </script>
    <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/popper.min.js"> </script>
    <script type="text/javascript" src="/universe/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script>
        $("#header").load("/universe/templates/shared/menu/menu.html");
        $("#roda-pe").load("/universe/templates/shared/roda-pe/roda-pe.html");

    </script>

</body>

</html>