<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/universe/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/universe2/templates/quem-somos/quem-somos.css">
  <title>Quem Somos</title>
</head>

<body>
  <!-- conteudo header -->
  <header id="header"></header>



  <main>


    <div class="titulo h2 " style="text-align: center; ">

      <h2 style="text-shadow: 8px 8px 0 #0ec8b5; margin-bottom: 20px">Quem somos</h2>
    </div>
    <div class="principal" style="display: flex;justify-content: center">

      <div class="card card-conteudo card-principal" style="   width: 544px; height: 394px;">

        <div class="card-body">
          <p>A Livraria universe é uma empresa que reforça a importância dos livros e da cultura na
            vida das pessoas. Nas lojas físicas, virtuais ou em nosso escritório, reunimos os amantes da literatura,
            música, quadrinhos e cinema. Estamos aqui para receber aqueles que querem ter acesso à cultura em qualquer
            uma de suas formas: quem precisa de um livro para iniciar um projeto ou um romance para começar as férias.
          </p>

          Somos um centro de entretenimento, onde a busca pelo produto é apenas o início de uma jornada enriquecedora:
          nossas lojas permitem o acesso à informação e às manifestações culturais por meio de seu extenso acervo e
          também de teatros, auditórios, cafés, eventos e publicações exclusivas. Queremos que as pessoas aproveitem o
          tempo e consumam conhecimento – o que nunca é demais. Seja em qual plataforma o cliente estiver, nosso lema é
          proporcionar diariamente Experiências que Transformam.
        </div>



      </div>

      <img class="img-fluid" src="/universe/image/livros.png" alt="livro-imagem/livros.png" style="height: 394px;
    width: 544px;">

    </div>
    <br>
    <br>
    <hr>
    <br>
    <br>

    <div class="missao-visao" style="display: flex; justify-content: center;">
      <div class="card card-conteudo card-principal" style="   width: 544px; ">

        <div class="card-body">
          <h2> MISSÃO </h2>
          <p> O que dá direção e significado ao nosso trabalho?

            Disponibilizar um acervo de títulos completo, com equipe de colaboradores competente e treinada, orientada a
            fazer do momento da compra uma experiência única de descoberta e prazer.</p>
        </div>
      </div>
        <div class="visao">
          <div class="card card-conteudo card-principal" style="   width: 544px; ">

            <div class="card-body">
              <h2> VISÃO </h2>
              <p> O que dá direção e significado ao nosso trabalho?

                Disponibilizar um acervo de títulos completo, com equipe de colaboradores competente e treinada,
                orientada a fazer do momento da compra uma experiência única de descoberta e prazer.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="card card-conteudo card-principal" style="   width: 544px;margin-left: 132px; ">

            <div class="card-body">
              <h2> Valores </h2>
              <p> O que dá direção e significado ao nosso trabalho?
    
                Disponibilizar um acervo de títulos completo, com equipe de colaboradores competente e treinada, orientada a
                fazer do momento da compra uma experiência única de descoberta e prazer.</p>
            </div>


     
  </main>




  <!-- conteudo roda-pé -->
  <div id="roda-pe"></div>

  <!-- scripts bootstrap -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    $("#header").load("/universe/templates/shared/menu/menu.html");
    $("#roda-pe").load("/universe/templates/shared/roda-pe/roda-pe.html");

  </script>

</body>

</html>