.foto {
  width: 5%;
  height: 231px;
  display: flex;
}
.foto .card {
  width: 10rem;
  justify-content: center;
  display: flex;
}

.conteudo {
  height: 300px;
  left: 0px;
  display: inline-block;
  overflow: hidden;
  height: 247px;
  width: 200%;
  /* left: 0px; */
  display: inline-block;
  overflow: hidden;
  margin-top: 150px;
  flex: center;
}
.direcao {
  position: relative;
  margin-top: -305px;
  height: 300px;
  opacity: 0.5;
  background-color: black;
  width: 51px;
}

.direcao.esquerda {
  float: left;
}
.direcao.direita {
  float: right;
}
.nav {
  width: 200%;
  /* float: left; */
  transition: 2s cubic-bezier(0.46, 0.43, 0.57, 0.57);
  position: relative;
  left: 0px;
}

/* seletores referente ao design */
.info-compra{
  margin-left: 10px;
   flex-direction: column;
    font-family: inherit;
     color: white"
}
.info-compra .title{
  font-size: 34px;
    color: white;
    font-family: auto;

}
.info-compra .valor{

}
.info-compra .disponibilidade{
  color: #028a02
}
.info-compra .entrega{
  color: #028a02;
}
.info-compra i{
  margin-right: 5px
}
.info-compra p{
  margin-bottom: 4px;
}
.info-compra button{
  width: 100%;
  display: flex;
  margin-top: 26px;
}
.courousel-item {
  width: 20%!important;
}
h1.titulo-carrossel{
  color: #00628e;
    margin-left: 80px;
    position: relative;
    top: 142px;
}