.imagem-descricao-livro {
  position: relative;
  margin-left: 26px;
  margin-top: 30px;
  display: inline-flex;
  height: 266px;
  width: 15%;
  min-width: 210px;
}
.dados-avaliacao {
  flex-direction: column;
  display: flex;
}
.mini-descricao {
  flex-direction: column;
  margin-top: 49px;
  width: 80%;
  justify-content: space-around;
  padding: 20px;
}
.mini-descricao p {
  margin-bottom: 0px;
}
.tipo-livro {
  width: 260px;
}
.tipo-livro label {
  margin-left: 10px;
  border: 1px solid #b2cde5;
  height: 42px;
  padding: 10px;
}
.descricoes {
  display: inline-flex;
  width: 50%;
  height: 142px;
  margin-left: 20px;
  margin-right: 28px;
  border-width: 1px;
}

.button-compra{
    display: flex;
    flex-direction: column;
    float: left;
}

.detalhes-livro{
  background-color: white;
}